<div class="container">
  {{#if shortenUrl}}
  <div>
    <form action="/" method="post">
      <div class="input-group">
        <input type="text" class="form-control" name="originalURL" placeholder="{{ originalUrl }}" disabled>
        <button class="btn btn-primary" type="submit" disabled>送出</button>
      </div>
    </form>
  </div>

  <div class="results">
    <span>Success! Please use this link:</span>
    <div class="results-info">
      <h5 id="copyURL" >{{ shortenUrl }}</h5>
      <button class="btn btn-outline-secondary btn-sm ms-3" type="submit" onclick="copyUrl()">
        <i class="fa-solid fa-copy"></i>
      </button> 

      <script>
        function copyUrl() {
          const copyText = document.getElementById("copyURL")
          navigator.clipboard.writeText(copyText.innerText)
          alert("已複製: " + copyText.innerText)
        }
      </script>

    </div>
    <div>
      <a class="btn btn-outline-secondary btn-sm" href="/" role="button">back</a>
    </div>
  </div>
  {{else}}
  <form action="/" method="post">
    <div class="input-group">
      <input type="url" class="form-control" placeholder="請輸入網址" name="originalUrl" required>
      <button class="btn btn-primary" type="submit">送出</button>
    </div>
  </form>
  {{/if}}
</div>