<form action="/">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="請輸入網址" name="originalURL" required>
    <button class="btn btn-primary" type="submit">送出</button>
  </div>
</form>